/*HEADER*/

#header {
background:url(./front-end-dev-test-assets/hero.jpg);
background-size:cover;
padding:15px;
overflow:hidden;
position:relative;
height:100vh;
min-height:500px;
max-height:1080px;
}

#header-content img {
  height:90px;
  padding-top: 33px;
  padding-left: 73px;
}

#header-content h1 {
-webkit-text-stroke: 2px #FFFFFF;
font-family: OpenSans-ExtraBold;
font-size: 72px;
color: rgba(255,255,255,0.00);
letter-spacing: 0;
text-align: center;
line-height: 90px;  
padding-top: 20rem;
}


#header-content h2 {
font-family: OpenSans-Bold;
font-size: 64px;
color: #FFFFFF;
letter-spacing: 5px;
text-align: center;
line-height: 45px;
}

#header-button {
	margin-top: 50px;
	text-align: center;
}

#header-content button {
background: #AC5FD0;
box-shadow: 0 2px 5px 0 rgba(0,0,0,0.19);
font-family: OpenSans-Bold;
font-size: 15px;
color: #FFFFFF;
letter-spacing: 1px;
padding:20px;
}

.fade-in {
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


/*END HEADER*/

/*SECTION 1*/

#sec1-title {
font-family: OpenSans-Bold;
font-size: 40px;
color: #613476;
letter-spacing: 1px;
line-height: 48px;
padding-top: 25%;
padding-left: 25%;
margin-bottom: 25px;
}

#sec1-p {
-webkit-text-stroke: 1px solid #979797;
font-family: HelveticaNeue;
font-size: 16px;
color: #161616;
letter-spacing: 0;
width: 70%;
padding-left: 25%;
margin-bottom: 25px;
}

#sec1-link {
font-family: OpenSans-Bold;
font-size: 18px;
color: #613476;
letter-spacing: 1px;
line-height: 42px;
padding-left: 25%;
}

#sec1-image {
  width: 100%;
  height: auto;
}

/*END SECTION 1*/

/*SECTION 2*/

#sec2 {
  position: relative;
}

#sec2-image {
width: 100%;
height:auto;
}

#sec2-title {
font-family: OpenSans-Bold;
font-size: 40px;
color: #613476;
letter-spacing: 1px;
line-height: 48px;
position: absolute;
top: 45%;
left: 25%;
}

#sec2-button {
background: #FF7218;
font-family: Avenir-Heavy;
font-size: 16px;
color: #FFFFFF;
letter-spacing: 1px;
padding:20px;
position: absolute;
top: 55%;
left: 25%;
}

/*END SECTION 2*/

/*SECTION 3*/

#sec3-left {
	margin-top: 10em;
	margin-bottom: 10em;
}

#sec3-title {
font-family: OpenSans-Bold;
font-size: 40px;
color: #3E3E3E;
letter-spacing: 1px;
line-height: 48px;
padding-left: 25%;
margin-bottom: 25px;
width: 60%;
}

#sec3-p {
-webkit-text-stroke: 1px solid #979797;
font-family: OpenSans-Bold;
font-size: 16px;
color: #161616;
letter-spacing: 0;
width: 70%;
padding-left: 25%;
margin-bottom: 25px;
}

#sec3-link {
font-family: OpenSans-Bold;
font-size: 18px;
color: #613476;
letter-spacing: 1px;
line-height: 42px;
padding-left: 25%;
}

.sec3-right {
	background: #FAFAFA;
}

.sec3-right p {
font-family: OpenSans-Bold;
font-size: 22px;
color: #3E3E3E;
letter-spacing: 0;
line-height: 30px;
}

.icon-wrap {
	/*position: absolute;*/
/*	top: 30%;*/
	margin-top: -75px;
	margin:0 auto;
}

#icon-1, #icon-2, #icon-3, #icon-4 {
	text-align: center;
	position: relative;
	width: 200px;
	height: auto;
	margin: auto;
}

.icon-image {
	text-align: center;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    border: 1px solid #AC5FD0;
    margin:0 auto;
}

#sec3-image1, #sec3-image2, #sec3-image3, #sec3-image4{
  width: 150px;
  height: auto;
  padding:30px;
}

.overlay {
	text-align: center;
	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    background: #AC5FD0;
    margin:0 auto;
    opacity: 0;
  	transition: .5s ease;
  	position: absolute;
}

.container:hover .overlay {
  opacity: 1;
}

.overlay .text {
  color: white;
  font: OpenSans-Bold;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


/*END SECTION 3*/

/*SECTION 4*/

#sec4 {
  position: relative;
}

#sec4-image {
width: 100%;
height:auto;
}

#sec4-title {
font-family: OpenSans-Bold;
font-size: 40px;
color: #613476;
letter-spacing: 1px;
line-height: 48px;
position: absolute;
top: 35%;
left: 60%;
}

#sec4-button {
background: #FF7218;
font-family: Avenir-Heavy;
font-size: 16px;
color: #FFFFFF;
letter-spacing: 1px;
padding:20px 15px 20px 15px;
position: absolute;
top: 60%;
left: 60%;
}

#sec4-p {
-webkit-text-stroke: 1px solid #979797;
font-family: OpenSans-Bold;
font-size: 16px;
color: #161616;
letter-spacing: 0;
width:25%;
position: absolute;
top: 45%;
left: 60%;
}

/*END SECTION 4*/

/*SECTION 5*/

#sec5-left {
	margin-top: 10em;
	margin-bottom: 10em;
}

#sec5-title {
font-family: OpenSans-Bold;
font-size: 40px;
color: #3E3E3E;
letter-spacing: 1px;
line-height: 48px;
padding-left: 25%;
margin-bottom: 15px;
width: 60%;
}

.stars {
color: #FF7218;
padding-left: 25%;
}

/*Carousel*/

#sec5-right {
	margin:auto;
}

.vertical-center{
text-align: center;
width: 70%;
}

.carousel-indicators {
    bottom: -50px;
}

.carousel-indicators li {
      width: 10px;
      height: 10px;
      margin: 5px;
      text-indent: 0;
      cursor: pointer;
      border: none;
      border-radius: 100%;
      background: #FFE465;
      /*display: block;*/
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
}

.carousel-item-1, .carousel-item-2, .carousel-item-3 {
  width: auto;
  height: 225px;
  max-height: 225px;
}

.carousel-item h2 {
font-family: OpenSans-Bold;
font-size: 18px;
color: #613476;
letter-spacing: 1px;
line-height: 42px;
}

.carousel-item p {
-webkit-text-stroke: 1px solid #979797;
font-family: OpenSans-Bold;
font-size: 16px;
color: #161616;
letter-spacing: 0;
}

.carousel-control-prev {
	left: -120px !important;
}

.carousel-control-next {
	right: -120px !important;
}

.carousel-indicators .active {
      width: 10px;
      height: 10px;
      margin: 5px;
      background: #FFC718;
}

.carousel-control-prev span {
	color: #613476;
}
/*End Carousel*/
/*END SECTION 5*/

/*FOOTER*/
#footer {
background: #FAFAFA;
text-align: center;
}

.footer-div {
	padding: 25px;
}

#footer p {
font-family: OpenSans-Bold;
font-size: 14px;
color: #3E3E3E;
letter-spacing: 0;
}

#footer svg {
	width: 4%;
	margin-right: 5px;
	margin-left: 5px;
}

#instagram {
	fill: #613476;
}

#facebook {
	fill: #613476;
}

/*End Footer*/



/*button.html*/
.button-button {
	text-align: center;
}

.button-button h1 {
	font: SF pro;
	margin-top: 100px;
}

.button-button button{
	padding: 20px;
	margin-top: 50px;
}











